{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
    <title>runclon</title>

    <!-- JS -->
    <script src='{% static "js/jquery-2.1.4.min.js"%}'></script>
    <script src='{% static "js/bootstrap.js"%}'></script>
    <script src='{% static "js/global.js"%}'></script>
    <script src='{% static "js/sweetalert.min.js"%}'></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/sweetalert.css"%}'>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block header %}{% endblock %}
</head>

<body style="margin: 0;">

    {% csrf_token %}
    <div id="header">

        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/rcgeneral/index" class="navbar-brand ">Monitor</a>
            <a href="/rcgeneral/search_page" class="navbar-brand ">Search</a>
          </div>
        {% if user.is_authenticated  %}


          {% endif %}

        </div>
        </nav>
        {% if user.is_authenticated  %}

        {% endif %}
    </div>
    {% block content %}{% endblock %}
        <script>
            $(document).ready(function() {

            });
        </script>
</body>
</html>