{% extends 'base_template.html' %}
{% load staticfiles %}

{% block header %}
    <script src='{% static "js/index.js" %}'></script>
    <!--
    <script src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
    -->
    <script src='{% static "js/datatables.js" %}'></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-xs-3">Total number of participants</div>
                <div class="col-xs-2" id="total_participants"></div>
            </div>
            <div class="row">
                <div class="col-xs-3">Number of registered</div>
                <div class="col-xs-2" id="number_registered"></div>
            </div>
            <div class="row">
                <div class="col-xs-3">Number of pending registrations</div>
                <div class="col-xs-2" id="number_pending"></div>
            </div>
            <div class="row">
                <div class="col-xs-3">Percent registered</div>
                <div class="col-xs-2" id="percent_registered"></div>
            </div>
            <div class="row">
                <div class="col-xs-3">Most recent registration</div>
                <div class="col-xs-3" id="latest_registration"></div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var url = '/rcgeneral/fetch_statistics';

            var $tp = $('#total_participants');
            var $nr = $('#number_registered');
            var $np = $('#number_pending');
            var $pr = $('#percent_registered');
            var $lr = $('#latest_registration');

            poll_fetch_statistics(url, 3, function (stats) {
                refresh_ui(stats, $tp, $nr, $np, $pr, $lr)
            });
        });
    </script>

{% endblock %}