{% extends 'base_template.html' %}
{% load staticfiles %}

{% block header %}
    <script src='{% static "js/index.js" %}'></script>
{% endblock %}


{% block content %}
        <div>
        <div class="row" style="width: 100%; margin: 15px 15px">
            <div class="col-sm-3" style="width: 100%; margin: 3px 3px">
                <input id="first_name" style="text-align:center;" placeholder="first name...">
                <input id="surname" style="text-align:center;" placeholder="surname...">
                <input id="bib" style="text-align:center;" placeholder="bib...">
                <input id="gender" style="text-align:center;" placeholder="gender...">
                <input id="age_category" style="text-align:center;" placeholder="age category...">
                <input id="club" style="text-align:center;" placeholder="club...">
                <input id="email" style="text-align:center;" placeholder="email...">
                <input id="number" style="text-align:center;" placeholder="number...">
            </div>
            <div align="center">
                <button id="add" class="col-sm-6" style="width: 100px; height: 30px;">Add!</button>
                <button id="view_registrations" class="col-sm-6" style="width: 100px; height: 30px;">View</button>
                <button id="clear_all" class="col-sm-6" style="width: 100px; height: 30px;">Clear All</button>
            </div>
        </div>
        <div class="row" style="width: 100%; margin: 15px 15px">
            <div id="results"></div>
        </div>
    </div>

    <script>
        function get_csrf_token() {
                var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                return csrf;
            }

        function add_customer(data) {
            // TODO refactor to http://kyleschaeffer.com/development/the-perfect-jquery-ajax-request/
            data['csrfmiddlewaretoken'] = get_csrf_token();
            $("#add").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: "/rcgeneral/add",
                data: data
            })
            .done(function (msg) {
                if (msg['success'] == true) {
                    swal({title: "Success", text: "Added!", timer: 3000, type: "success"});
                } else {
                    swal({title: "Could not add user!", text: msg['reason'], timer: 3000, type: "error"});
                }
                //$(element).parent().parent().find(".glyphicon-refresh").hide();
            });
            $("#add").prop('disabled', false);
        }

        function get_registrations() {
            $("#view_registrations").addClass("error");
            $.ajax({
                method: "GET",
                url: "/rcgeneral/get_registrations"
            })
            .done(function (msg) {
                if (msg['success'] == true) {
                    var registrations = msg['registrations'];
                    for(var lst_idx=0; lst_idx < registrations.length; lst_idx++) {
                        console.log(registrations[lst_idx]);
                    }
                    display_registrations(registrations);
                } else {
                    swal({title: "Could not get registrations!", text: msg['reason'], timer: 3000, type: "error"});
                    return null;
                }
            });
            $("#view_registrations").prop('disabled', false);
        }

        function clear_all() {
            $("#clear_all").prop('disabled', true);
            $.ajax({
                method: "GET",
                url: "/rcgeneral/clear_all"
            })
            .done(function (msg) {
                if (msg['success'] == true) {
                    swal({title: "Done!", text: "Successfully removed all registrations!", timer: 3000, type: "success"});
                } else {
                    swal({title: "Could not get registrations!", text: msg['reason'], timer: 3000, type: "error"});
                    return null;
                }
            });
            $("#clear_all").prop('disabled', false);
        }

        function bind_view_button() {
            $("#view_registrations").click(function () {
                get_registrations();
            });
        }

        function bind_clear_all_button() {
            $("#clear_all").click(function () {
                clear_all();
            });
        }

        function bind_add_button() {
            $("#add").click(function () {
                var data = {
                    'bib': $("#bib").val(),
                    'first_name': $("#first_name").val(),
                    'surname': $("#surname").val(),
                    'gender': $("#gender").val(),
                    'age_category': $("#age_category").val(),
                    'club': $("#club").val(),
                    'email': $("#email").val(),
                    'number': $("#number").val()
                };
                console.log(data);
                add_customer(data);
            });
        }
    </script>

    <script>
        function display_registrations(data) {
            var table = $('<table></table>').addClass('');
            for(var row_idx=0; row_idx<data.length; row_idx++){
                var row_txt = "";
                var dict = data[row_idx];
                for(var key in dict) {
                    row_txt += dict[key] + "\t";
                }
                var row = $('<tr></tr>').addClass('').text(row_txt);
                table.append(row);
            }
            $('#results').append(table);
        }

        $(document).ready(function () {
            bind_add_button();
            bind_view_button();
            bind_clear_all_button();
        });
    </script>

{% endblock %}