{% extends 'base_template.html' %}
{% load staticfiles %}

{% block header %}
    <script src='{% static "js/index.js" %}'></script>
{% endblock %}


{% block content %}
    <div class="row" style="width: 100%; margin: 15px 15px">
        <div class="col-sm-3" style="width: 100%; margin: 3px 3px">
            <input id="first_name" style="text-align:center;" placeholder="first name...">
            <input id="surname" style="text-align:center;" placeholder="surname...">
            <input id="bib" style="text-align:center;" placeholder="bib...">
            <input id="gender" style="text-align:center;" placeholder="gender...">
            <input id="age_category" style="text-align:center;" placeholder="age category...">
            <input id="club" style="text-align:center;" placeholder="club...">
            <input id="email" style="text-align:center;" placeholder="email...">
            <input id="number" style="text-align:center;" placeholder="number...">
        </div>
        <div align="center">
            <button id="register" class="col-sm-6 btn-success" style="width: 100px; height: 30px;">Register!</button>
            <button id="view_registrations" class="col-sm-6 btn-success" style="width: 100px; height: 30px;">View</button>
        </div>
    </div>

    <script>
        function get_csrf_token() {
            var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            return csrf;
        }

        function register_customer(data) {
            // TODO refactor to http://kyleschaeffer.com/development/the-perfect-jquery-ajax-request/
            data['csrfmiddlewaretoken'] = get_csrf_token();
            $("#register").prop('disabled', true);
            $.ajax({
                method: "POST",
                url: "/rcgeneral/register",
                data: data
            })
            .done(function (msg) {
                if (msg['success'] == true) {
                    swal({title: "Success", text: "Registered!", timer: 3000, type: "success"});
                } else {
                    swal({title: "Could not register user!", text: msg['reason'], timer: 3000, type: "error"});
                }
                //$(element).parent().parent().find(".glyphicon-refresh").hide();
            });
            $("#register").prop('disabled', false);
        }

        function bind_register_button() {
            $("#register").click(function () {
                var data = {
                    'bib': $("#bib").val(),
                    'first_name': $("#first_name").val(),
                    'surname': $("#surname").val(),
                    'gender': $("#gender").val(),
                    'age_category': $("#age_category").val(),
                    'club': $("#club").val(),
                    'email': $("#email").val(),
                    'number': $("#number").val()
                };
                console.log(data);
                register_customer(data);
            });
        }

        function get_registrations() {
            /*
            * ,
                data: {
                    csrfmiddlewaretoken: get_csrf_token()
                }
            * */
            var data = {
                'csrfmiddlewaretoken': get_csrf_token()
            };
            $("#view_registrations").prop('disabled', true);
            $.ajax({
                method: "GET",
                url: "/rcgeneral/get_registrations"
            })
            .done(function (msg) {
                if (msg['success'] == true) {
                    return msg['registrations'];
                } else {
                    swal({title: "Could not get registrations!", text: msg['reason'], timer: 3000, type: "error"});
                    return null;
                }
            });
            $("#view_registrations").prop('disabled', false);
        }
        function bind_view_button() {
            $("#view_registrations").click(function () {
                var reglist = get_registrations();
                console.log(reglist);
            });
        }

        $(document).ready(function () {
            bind_register_button();
            bind_view_button();
        });

    </script>

{% endblock %}