{% extends 'base_template.html' %}
{% load staticfiles %}

{% block header %}
    <script src='{% static "js/search_page.js" %}'></script>
    <!--
    <script src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
    -->
    <script src='{% static "js/datatables.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/datatables.css" %}'>
{% endblock %}

{% block content %}
    <style>
    caption {
        text-align:center;

        font: italic bold 20px Georgia, serif;
    }
    </style>

    <div class="container">
        <div class="row" style="width: 100%; margin: 0px 0px 0px 50px;">
            <div class="col-xs-5">
                <input id="search_fname" style="width: 100%; text-align:center;" placeholder="enter first name...">
            </div>
            <div class="col-xs-2 text-center">
               or
            </div>
            <div class="col-xs-5">
                <input id="search_last_name" style="width: 100%; text-align:center;" placeholder="enter last name...">
            </div>
        </div>

        <div class="row" style="width: 100%; margin: 15px 15px">
            <table class="table" id="table_results_not_registered" width="100%">
                <caption>AWAITING REGISTRATION...</caption>
                <thead>
                    <tr>
                         <th>id</th>
                         <th>Bib</th>
                         <th>First Name</th>
                         <th>Surname</th>
                         <th>Gender</th>
                         <th>Age Category</th>
                         <th>Club</th>
                         <th>Email</th>
                         <th>Number</th>
                         <th>Status</th>
                         <th>T-Shirt Size</th>
                         <th>Registration</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="row" style="width: 100%; margin: 15px 15px">
            <table class="table" id="table_results_registered"  width="100%">
                <caption>REGISTERED</caption>
                 <thead>
                    <tr>
                         <th>id</th>
                         <th>Bib</th>
                         <th>First Name</th>
                         <th>Surname</th>
                         <th>Gender</th>
                         <th>Age Category</th>
                         <th>Club</th>
                         <th>Email</th>
                         <th>Number</th>
                         <th>T-Shirt Size</th>
                         <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            bind_search_box($("#search_last_name"), $("#search_fname"), $("#table_results_not_registered"), $("#table_results_registered"));
            //bind_search_box($("#search_fname"), $("#table_results_not_registered"), $("#table_results_registered"));
        });
    </script>

{% endblock %}