{% extends 'base_template.html' %}
{% load staticfiles %}

{% block header %}
    <script src='{% static "js/search_page.js" %}'></script>
    <!--
    <script src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
    -->
    <script src='{% static "js/datatables.js" %}'></script>
{% endblock %}

{% block content %}
    <style>
    caption {
        text-align:center;

        font: italic bold 20px Georgia, serif;
    }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <input class="btn-block" id="search_fname" style="text-align:center;" placeholder="enter first name...">
            </div>
            <div class="col-xs-12 col-md-2 text-center">
               or
            </div>
            <div class="col-xs-12 col-md-5">
                <input class="btn-block" id="search_last_name" style="text-align:center;" placeholder="enter last name...">
            </div>
        </div>

        <div class="row">
            <table class="table" id="table_results_pending">
                <caption>Pending registrations...</caption>
                <thead>
                    <tr>
{#                         <th>id</th>#}
                         <th>Bib</th>
                         <th>First Name</th>
                         <th>Surname</th>
                         <th>Gender</th>
                         <th>Age Category</th>
                         <th>Club</th>
                         <th>Email</th>
                         <th>Number</th>
                         <th>T-Shirt Size</th>
                         <th>Registration</th>
                         <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="row">
            <table class="table" id="table_results_registered">
                <caption>Registered</caption>
                 <thead>
                    <tr>
{#                         <th>id</th>#}
                         <th>Bib</th>
                         <th>First Name</th>
                         <th>Surname</th>
                         <th>Gender</th>
                         <th>Age Category</th>
                         <th>Club</th>
                         <th>Email</th>
                         <th>Number</th>
                         <th>T-Shirt Size</th>
                         <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            bind_search_box($("#search_last_name"), $("#search_fname"), $("#table_results_pending"), $("#table_results_registered"));
        });
    </script>

{% endblock %}